* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg-container-sony {
    max-width: 20%;
}

header ul {
    margin-bottom: 0;
}

.menu-header-lg li{
    display: inline-block;
}

/* Font Sizes */
.font-size-small {
    font-size: small;
}
/* EndFont Sizes */