* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg-container-sony {
    max-width: 20%;
}

header ul {
    margin-bottom: 0;
}

.menu-header-lg li{
    display: inline-block;
}

.jumbo {
    height: 45em;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-repeat: no-repeat;
    background-position-x: 85%;
}

/* Font Sizes */
.font-size-small {
    font-size: small;
}
/* EndFont Sizes */