* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg-container-sony {
    max-width: 20%;
}

.svg-container-sony a svg {
    max-width: 146px;
}

header ul {
    margin-bottom: 0;
}

.dropdown-menu li {
    display: inline-block;
}
.menu-header-lg li{
    display: inline-block;
}

.jumbo {
    height: 45em;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    margin-top: 6em;
}

.max-w-jumbo-content {
    max-width: 30em;
}

.returnal-logo {
    width: 20em;
}

.game-preview-container .row .col img {
    max-width: 100%;
    border-radius: 10px;
}

/* Font Sizes */
.font-size-small {
    font-size: small;
}
/* EndFont Sizes */